
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.maru.muaring.feature">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application>
        <activity
            android:name="org.maru.muaring.feature.group.ui.CreateGroupActivity"
            android:exported="false" />

        <activity
            android:name="org.maru.muaring.feature.group.ui.GroupProfileSetupActivity"
            android:exported="false" />

        <activity
            android:name="org.maru.muaring.feature.group.ui.GroupInviteActivity"
            android:exported="false" />


        <activity
            android:name="org.maru.muaring.feature.group.ui.InviteHandlerActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="muaring" android:host="invite" />
            </intent-filter>
        </activity>


        <activity
            android:name="org.maru.muaring.feature.group.ui.InvitePreviewActivity"
            android:exported="false"
            android:theme="@style/Theme.Muaring" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
